body {
  font-family: 'Open Sans', sans-serif;
   margin: 0;
}

header {
  display: flex;
  flex-direction: row;
}

.nav-icon {
  cursor: pointer;
  width: 95px;
}

h1 {
  margin: auto;
  padding-right: 93px;
}

main {
  background-image: url("assetsja/backgroundjohnadams.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas:
    "left middle right";
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100vh;
}

p {
  margin: 0;
}

.winner-board {
  background-color: lightgrey;
  border: 2px solid black;
  font-size: 134%;
  padding-bottom: 1%;
  position: absolute;
  text-align: center;
  width: 19%;
  z-index: 10;
}

.black-lines {
  border-top: 2px solid black;
  margin: 7% auto;
  width: 75%;
}

aside {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 142%;
  margin-top: 10%;
  text-align: center;
  width: 89%;
}

.aside-ps {
  margin: 0% 0% 10% 0%;
}

.match-count {
  font-size: 397%;
  font-weight: 700;
  line-height: .9;
  margin-bottom: 0;
}

.game-wins {
  margin: 14% 0%;
}

h3 {
  margin: 7% 0% 5% 0%;
}

.left-aside {
  display: flex;
  justify-self: end;
}

.white-lines {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  text-align: center;
  padding: 7% 0%;
  width: 88%;
}

.play-area {
  display: flex;
  justify-content: center;
  padding: 10% 0%;
}

.hide-able-form {
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}

.text-inputs-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

label {
  display: block;
  font-family: 'Open Sans', sans-serif;

}
.input-with-label-box {
  display: flex;
  flex-direction: column;
  font-size: 160%;
  width: 42%;
}

input[type=text] {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 115%;
  margin-bottom: 2%;
  padding: 7px;
  width: 96%;
}

.error-msg {
  font-weight: 700;
}

.play-game-button {
  background-color: black;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 148%;
  font-weight: bold;
  margin: 19% 0% 61% 0%;
  padding: 14px;
  width: 100%;
}

.directions-page-play-button {
  background-color: black;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 91%;
  font-weight: 700;
  margin: 5% 0%;
  padding: 10px;
  width: 100%;
}

article {
  font-size: 162%;
  font-weight: 700;
  width: 100%;
}

article > p {
  margin: 7% 0%;
}

.named-greeting {
  font-size: 125%;
  font-weight: 700;
  margin-top: 9%;
  text-align: center;
}

.hide-able-winner-page {
  width: 100%;
  text-align: center;
}

.congrats-heading {
  font-size: 200%;
  font-weight: 700;
  margin-top: 10%;
}

.took-you-text {
  font-size: 177%;
  font-weight: 700;
  margin-top: 9%;
}

.to-keep-playing-text {
  font-size: 177%;
  font-weight: 300;
  margin: 9%;
}

.new-rematch-button-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54%;
  width: 100%;
}

.winner-page-btn {
  background-color: black;
  border: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 141%;
  font-weight: bold;
  padding: 12px;
  width:43%;
}

.hide-able-cards {
  width: 100%;
}

.card-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.mid-card-row {
  padding: 4% 0%;
}

.j-card {
  cursor: pointer;
  margin: 2%;
  width: 15%;
}

[data-cardid="1"] {
  transform: rotate(15deg);
}

[data-cardid="2"] {
  transform: rotate(-26deg);
}

[data-cardid="3"] {
  transform: rotate(-8deg);
}

[data-cardid="4"] {
  transform: rotate(18deg);
}

[data-cardid="5"] {
  transform: rotate(6deg);
}

[data-cardid="6"] {
  transform: rotate(-13deg);
}

[data-cardid="7"] {
  transform: rotate(8deg);
}

[data-cardid="8"] {
  transform: rotate(25deg);
}

[data-cardid="9"] {
  transform: rotate(-15deg);
}

[data-cardid="10"] {
  transform: rotate(-9deg);
}

.hide-it {
  display: none;
}

.hide-aside {
  visibility: hidden;
}
