* {
  /* border: 1px solid blue; */
}

body {
  font-family: 'Open Sans', sans-serif;
   /* background-color: lightgrey; */
   margin: 0;
}

header {
  display: flex;
  flex-direction: row;
}

.nav-icon {
  width: 95px;
}

h1 {
  margin: auto;
  padding-right: 93px;
}

main {
  display: grid;
  grid-template-areas:
    "left middle right";
  grid-template-columns: 1fr 3fr 1fr;

  background-image: url("assetsja/backgroundjohnadams.jpg");
  background-repeat: no-repeat;
  /* background-position: absolute; */
  background-size: cover;
  height: 120vh;
  border: 1px solid white;
}

aside {
  background-color: black;
  width: 89%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  font-size: 132%;
  /* justify-content: center; */
  align-items: center;
  color: white;
}

p {
  margin: 0;
}

h3 {
  margin: 9% 0% 5% 0%;
}

.left-aside {
  display: flex;
  justify-self: end;
  /* color: white; */
  /* visibility: hidden; */
  /* display:none; */
}

.white-lines {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 88%;
  text-align: center;
}

.play-area {
  display: flex;
  justify-content: center;
}

.hide-able-form {
  width: 100%;
}

/* .game-directions {
  display: none;
} */

form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 15px;
  align-items: center;
  margin-top: 12%;
}

.text-inputs-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid blue; */
  width: 61%;
}

label {
  display: block;
  font-family: 'Open Sans', sans-serif;

}
.input-with-label-box {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 42%;
  font-size: 147%;
}

input[type=text] {
  width: 96%;
  font-family: 'Open Sans', sans-serif;
  font-size: 115%;
  padding: 5px;
}

.play-game-button {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  width: 61%;
  color: white;
  padding: 14px;
  font-size: 148%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-top: 8%;
}

.play-game-button-directions {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: white;
  padding: 8px;
  font-size: 91%;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin-top: 8%;
}


article {
  font-size: 162%;
  width: 100%;
}

article > p {
  margin: 7% 0%;
}

.named-greeting {
  font-size: 125%;
  font-weight: 700;
  text-align: center;
  margin-top: 19%;
}
